
header {
  width: 100%;
  height: 100vh;
  background: url(../img/temp.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

/* Navbar */
nav {
  position: fixed;
  width: 100%;
  transition: 0.75s;
}

nav ul {
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black {
  background: #000;
  width: 100%;
}

.navbar-header {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

.navbar-nav li {
  padding-right: 10px;
}

.nav-link {
  font-size: 1.2em !important;
}

/* Hello World */
.hello {
  position: absolute;
  width: 100%;
  top: 45%;
  transform: translateY(-50%);
}

.hello h1 {
  color: #fff;
  font-size: 60px; /* 82.7 */
  font-weight: 500;
}

.hello h3 {
  color: #fff;
  padding-top: 15px; /* 35 */
  font-size: 30px;
}

h3 br {
  display: none;
}

#cursor {
  font-size: 35px;
}

/* Misc */
hr {
  width: 50%;
}

.padding {
  padding: 20px;
}

#cards .padding-top {
  padding-top: 15px;
}

.padding-top {
  padding-top: 30px;
}

.center {
  margin: auto;
  width: 50%;
  border: 1px solid #d5d5d5;
  text-align: center;
}

/* About */
#about img {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circular--square {
  border-radius: 50%;
}

/* Contact */
#contact h3 {
  padding-bottom: 20px;
}

#contact br {
  display: none;
}

.social a {
  font-size: 5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-github {
  color: #333;
}

.fa-linkedin {
  color: #0077B5;
}

.fa-instagram {
  color: #8a3ab9;
}

.fa-envelope {
  color: #ff0000;
}

.fa-facebook:hover, .fa-github:hover, .fa-envelope:hover, .fa-linkedin:hover, .fa-instagram:hover {
  color: #d5d5d5;
}

/* Responsive */
@media (min-width: 1200px) {
  .social a {
    font-size: 6em;
    padding: 4rem;
  }

  #cards {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (max-width: 992px) {
  #contact br {
    display: inline;
  }
}

@media (max-width: 768px) {
  .social a {
    font-size: 5em;
    padding: 2rem;
  }

  nav {
    background: #000;
    width: 100%;
  }

  #cards br {
    display: none;
  }

  #contact br {
    display: inline;
  }
}

@media (max-width: 576px) {
  .social a {
    font-size: 3.4em;
    padding: 1rem;
  }

  .hello h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 500;
  }

  .hello h3 {
    color: #fff;
    padding-top: 15px;
    font-size: 30px;
    content: 'TESTING';
  }

  h3 br {
    display:inline;
  }

  nav {
    background: #000;
    width: 100%;
  }

  #cards br {
    display: none;
  }

  #contact br {
    display: inline;
  }

  /*nav {
    background: #000;
    width: 100%;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query: default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
